.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: stretch;
  justify-items: center;
}

.service {
  width: 100%;
  height: fit-content;
  border: 1px solid var(--primary-color-variant);
  border-radius: 10px;
  background-color: var(--bg-color-variant);
  transition: var(--transition);
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
  }

  & > div {
    background: var(--primary-color);
    color: var(--bg-color);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.9rem;
  }

  ul {
    text-align: left;
    padding: 1.5rem 1.2rem;
    padding-right: 0.8rem;

    div {
      display: flex;
      gap: 0.7rem;
      p {
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .services {
    grid-template-columns: 1fr;
  }
}
